<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 site-footer__wrapper">
        <div class="site-footer__logo">
          <img src="/images/todoOpen-logo-transparente-mix-244x84.png" alt="TodoOpen Logo" >
        </div>
        <div class="site-footer__content">
          <ul class="site-footer__link-list">
              <li><a href="https://groups.google.com/forum/#!forum/flutter-dev">{{ site.email  | regex_replace: '(.*?@).*', '\1' }}</a></li>
              <li><a href="/tos">terms</a></li>
              <li><a href="/security">security</a></li>
              <li><a href="https://www.google.com/intl/en/policies/privacy">privacy</a></li>
              <li><a href="https://flutter-es.io/">español</a></li>

          </ul>

          <p class="licenses">
            Distribuci&oacute;n Interna
              <br/>Derechos Reservados 2020 - TodoOpen.com una Empresa Boliviana.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
